{% comment %}{% include 'article_header' %}{% endcomment %}

<article id="content" itemscope itemtype="http://schema.org/Article">

	<div class="article-blog-post-heading">
		<span >Posted </span>
		<span class="article-date" itemprop="datePublished">{{ article.published_at | date: "%B %d, %Y" }}</span>
	</div>

	<h1 id="pageTitle" class="articleTitle" itemscope="name">{{ article.title }}</h1>
	<meta itemprop="author" content="{{ settings.postedByText }} {{ article.author }}" />	
	<meta itemprop="headline" content="{{ article.content | strip_html | truncatewords: 90 }}" />

	{% if  article.image %}
	<div id="article-image" style="text-align: center;max-width: 600px; margin-left: auto; margin-right: auto;">
		{% capture image %}{{article | img_url: 'grande' }}{% endcapture %}
		{% capture imageOrg %}{{article | img_url: 'master' }}{% endcapture %}
		{% capture attributes %}data-smoothzoom="gallery" title="{{article.title}}"{% endcapture %}
		{% include 'utility_zoom_overlay' ,	
			class : '',
			content : {{article.title}},
			link : {{imageOrg}},
			image : {{image}},
			attributes : {{attributes}}
		%}

	</div>
	{% endif%}

	<div id="articleContent" itemprop="articleBody">{% include 'shortcode' load: article.content %}</div>
	<div  class="article-footer" >{% include 'article_tags' %}</div>

	<div class="article-sharing">{% include 'social-sharing' %}</div>
	{% include 'article_comments' %}
</article>