{% include 'theme-variables' %}
<section id="cart-wrap" class="section-wrap">

  

		<div>
			{% comment %}cart is empty {% endcomment %}
			{% if cart.item_count == 0 %}
			<div>
{%comment%}
<!-- Click & Collect -->{% include 'clickcollect' %}<!-- Click & Collect -->
{%endcomment%}
				<p class="intro-text">There are currently no items in your cart.</p>			
				<a 	class="btn btn-primary btn-back"							
								data-toggle="tooltip"
								title=""
								data-placement="top"											
								data-original-title="Previous Page"
								href="javascript:void(0);"
								onclick="window.history.back();"><i class="fa fa-hand-o-left"></i></a>
				<h1 class="page-header">{{ page_title }}</h1>
				<div id="collectionProducts" class="clearFix feature-products" >				
					{%comment%}{%  include 'featured-carousel' %}	{%endcomment%}					
				</div>				
			</div>

			
			{% else %}
			<div id="cartStuff">
				<div class="row" style="margin-top: -14px; margin-bottom: 32px;">
					<div class="col-sm-6 col-xs-2">
						<a 	class="btn btn-primary btn-back"							
							data-toggle="tooltip"
							title=""
							data-placement="top"											
							data-original-title="Previous Page"
							href="javascript:void(0);"
							onclick="window.history.back();">
							<i class="fa fa-hand-o-left"></i>
						</a>
					</div>
					<div class="col-sm-6 col-xs-10 align-right">
						<div>
							<a href="javascript:void(0);" onclick="$('#checkout').trigger('click');" class="btn btn-primary"><i style="margin-right: 2px;" class="fa fa-lock"></i><span class="display-none-480">Proceed to</span>  <span class="hidden-xs">Secure</span> Checkout</a>
							<a 	style=""
								href="javascript:void(0);"
								data-toggle="tooltip"
								title=""
								data-placement="top"											
								data-original-title="Empty Cart"
								class="btn btn-primary empty-cart-button ">
								<i class="fa fa-trash"></i>
							</a>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">	</div>
				</div>
				<h1 class="page-header">{{ page_title }}</h1>
<div id="shappify-qty-cart-msg"></div>				
				<form action="/cart" method="post" id="cartform">					
					<div class="table-responsive">
					<table class="table cart-table">
						<thead>
							<tr>
								<th class="hidden-xs hidden-sm">Item #</th>
								<th>Product Description</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Subtotal</th>
								<th style="text-align: center">Remove</th>
							</tr>
						</thead>
						<tbody>
							{% assign cartitems = 0 %}
							{% assign allowupdate_flag = true %}
							{% for item in cart.items  %}
								
								
								<tr class="cart-row script-cart-row"  data-line-id="{{item.properties['Ref_line_ID']}}" data-line="{{ forloop.index }}">
									<td class="cart-line-item hidden-xs hidden-sm">{{ forloop.index }}</td>
									<td class="cart-item" >
										<div class="row">
											<div class="col-sm-2 hidden-xs hidden-768">
												<a href="{{ item.url }}"><img class="itemImage" src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}" /></a>                   
											</div>
											<div class="col-sm-10 col-xs-12">
												<a href="{{ item.url }}"><h3>{{ item.product.title }} </h3></a>
												{% if item.variant.title != 'Default Title' %}<div class="cart-subtitle">{{ item.variant.title }} </div>{%endif%}
												
											</div>
										</div>
									</td>
									<td class="cart-price">{{ item.price | money }}</td>
									<td class="cart-qty">										
										<input type="text" size="4" class="form-control" name="updates[]"  value="{{ item.quantity }}" />										
										
									</td>
									<td class="cart-total">{{ item.line_price | money }}</td>
									<td class="cart-delete"><a href="javascript:void(0);" class="remove-cart-item"><i class="fa fa-times"></i></a></td>
								</tr>
						
							{% assign cartitems = cartitems | plus: 1 %}
						{% endfor %}
						
						</tbody>
						<tfoot>
							<tr>
								<td class="hidden-xs hidden-sm"></td>
								<td style="vertical-align: middle;" colspan="6">
									<span class="hidden-xs">Total before applicable taxes &amp; shipping:</span>
									<span class="hidden-sm hidden-md hidden-lg">Before taxes &amp; shipping</span>
									<span class="subTotal">
										<span class="money" style="">{{ cart.total_price | money }}</span>
									
									</span><!-- subTotal -->	
								</td>
						
								
							</tr>
						</tfoot>
					</table>
					</div>
{%comment%}					
<!-- Click & Collect -->
<!--[if gt IE 8]><!-->{% include 'clickcollect' %}<!--<![endif]-->
<!-- Click & Collect -->
{%endcomment%}
					<div id="basketCheckout" class="">
					    
						<div id="specialInstructions" class="">
							<div class="row">
								<div class="col-lg-9 col-md-10 col-sm-12">
									<h3>Would you like to include any special instructions with your order?</h3>							
									<div class="special-instruction-box" style="" >
										<textarea id="" class="form-control" name="note" rows="4"  placeholder="Provide your instructions here...">{{ cart.note }}</textarea>
									</div>											
								</div>						
							</div>
						</div><!-- specialInstructions -->
						
						<div id="checkoutButtons" class="">
							<h3 style="padding-top: 0;">Ready to place your order?</h3>
							
							<p style="margin-bottom: 24px;"><strong>
								
							  </p></strong>
							
							<input type="submit" id="updateCart" name="update" value="{{ settings.updateText }}"  class="" style="display:none;"/>
							<button type="submit" id="checkout" class="btn btn-primary btn-lg" name="checkout"><i style="margin-right: 8px;" class="fa fa-lock"></i>Proceed to <span class="display-none-480">Secure</span> Checkout</button>
							{%comment%}		
							<input type="submit" id="checkout" class="btn btn-primary btn-lg"  value="Proceed to Secure Checkout" />
							
						<div style="padding-top: 24px;">
							{% if additional_checkout_buttons %}
								{{ content_for_additional_checkout_buttons }}
							{% endif %}							
						</div>
						{%endcomment%}


							
						</div><!-- checkoutButtons -->
					</div><!-- basketCheckout -->
				</form>
				{%comment %}{% if settings.shipping_calculator == true %}{% include 'shipping-calculator' %}{% endif %}{%endcomment%}
			</div><!-- cartStuff -->
			

			{% endif %}
		</div><!-- content -->
  {%comment%}
  {% if has_cart and cart.item_count > 0 %}
  <script type="text/javascript">
  function remove_item(id) {
    document.getElementById('updates_'+id).value = 0;
    document.getElementById('cart').submit();
  }
  </script>
  <div class="text-left">
	{% if settings.cart-page-content %}
	{{ pages[settings.cart-page-content].content }}
	{% endif %}
    <form action="/cart" method="post" id="cart">
      <div class="row">
        <div class="{% if settings.show-shipping-estimator %}col-md-9{% else %}col-md-12{% endif %}">
          <h3>{% include '__localize' with 'Your items' %}</h3>
          <table class="table {% include '__table-formatting' %}">
            <tbody>
              {% for i in cart.items %}
              <tr>
                <td class="col-sm-2 hidden-xs"><img src="{{ i | img_url: 'medium' }}"></td>
                <td>
                  <h4>
                    {{ i.product.title | link_to: i.url }}
                    <small class="text-muted">{{ i.title | remove: i.product.title | remove: ' - ' }}</small><br>
                  </h4>
        				  <p>
        					<small class="text-muted">
        						<dl>
        						{% for p in i.properties %}
        						{% unless p.last == blank %}
        						<dt>{{ p.first }}:</dt>
        						<dd>
        							{% if p.last contains '/uploads/' %}
        							<a href="#{{ i.product.handle}}" data-toggle="modal">{{ p.last | split: '/' | last }}</a>
        							<div class="modal fade" id="{{ i.product.handle }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        								<div class="modal-dialog">
        									<div class="modal-content">
        										<img src="{{ p.last }}" alt="{{ p.first }}">
        									</div>
        								</div>
        							</div>
        							{% else %}
        							{{ p.last }}
        							{% endif %}
        						</dd>
        						{% endunless %}
        						{% endfor %}
        						</dl>
        					</small>
        				</p>
                </td>
                <td><span class='money'>{{ i.price | money_with_currency | replace: ' ','&nbsp' }}</span></td>
                <td class="text-center col-xs-2">
                  {% if i.variant.inventory_quantity <= 1 and i.variant.inventory_management == 'shopify' and i.variant.inventory_policy == 'deny' %}
                  <input type="hidden" name="updates[{{ i.id }}]" id="updates_{{ i.id }}" value="{{ i.quantity }}"/>
                  {{ i.quantity }}
                  {% else %}
            	    {% include '_product-max-qty' with i.product %}
                  <input type="number" class="form-control" name="updates[{{ i.id }}]" id="updates_{{ i.id }}" value="{{ i.quantity }}" min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} onfocus="this.select();"/>
                  {% endif %}
                </td>
                <td><a class="text-muted" href="#" onclick="remove_item({{ i.variant.id }}); return false;"><i class="fa fa-times"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if settings.show-shipping-estimator %}
        <div class="col-md-3">
          {% include 'shipping-calculator' %}
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-9">
          <h4>{% include '__localize' with 'Any comments or special instructions?' %}</h4>
          <div class="collapse in cart-note-action">
            <a href="#cart-note" class="btn btn-default" data-toggle="collapse">Add note</a>
          </div>
          <div class="collapse cart-note" id="cart-note">
            <textarea id="note" name="note" class="form-control" rows="3">{{ cart.note }}</textarea>
          </div>
        </div>
    
        <div class="form-actions text-right col-sm-4 col-md-3">
          <div class="product-price"><small>{% include '__localize' with 'Sub-total' %}</small> <span class='money'>{{ cart.total_price | money_with_currency | replace: ' ','&nbsp' }}</span></div>
          
          {% include 'free-shipping-message' %}
		  
		  {% if settings.show-agree-with-terms-and-conditions-checkbox %}

		  <p style="float:none; text-align:right; clear: both; margin: 10px 0;">
			  <input type="checkbox" id="agree" />
			  <label for="agree">{% include '__localize' with 'I agree with the terms and conditions.' %}</label>
		  </p>
		  {% endif %}
          
          {% if settings.ajax-cart %}
          <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary btn-block" />
          {% else %}
          <div class="btn-group">
            <input type="submit" id="update-cart" name="update" value="{% include '__localize' with 'Update' %}" class="btn btn-default" />
            <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary" />
          </div>
          {% endif %}
          {% if additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            <span class="text-muted">or</span>
            {{ content_for_additional_checkout_buttons }}
          </div>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
	
  {% else %}
  {% assign cart_message = 'Your cart is empty' %}
  {% unless has_cart %}{% assign cart_message = 'The shopping cart is currently disabled' %}{% endunless %}
  <p class="lead">
    {% include '__localize' with cart_message %}.{% unless settings.collection-to-link-to-if-cart-empty == blank %} <a href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with 'Browse' %} {{ collections.[settings.collection-to-link-to-if-cart-empty].title }}</a>.{% endunless %}
  </p>
  {% endif %}
{% endcomment %}


</section>
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<script>
/*
$('[name="checkout"], input[name="goto_pp"], input[name="goto_gc"]').click(function() {
  if($('#agree').is(':checked')){
    $(this).submit();
  }
  else{
    alert("{% include '__localize' with 'You must agree with the terms and conditions of sales to check out.' %}");
    return false;
  }
});*/

var product_line_item = new Array();
if ((typeof Shopify) === 'undefined') { var Shopify = {};  }
Shopify.changeLineItem = function(line_item, quantity, callback) {
	var params = {
		type: 'POST',
		url: '/cart/change.js',
		data:  'quantity='+quantity+'&line='+line_item,
		dataType: 'json',
		success: function(cart) {
			if ((typeof callback) === 'function') {  callback(cart);}
			else {  Shopify.onCartUpdate(cart);	}
		},
		error: function(XMLHttpRequest, textStatus) { Shopify.onError(XMLHttpRequest, textStatus); }
	};
  jQuery.ajax(params);
};



$(function(){	
	/************* update cart items *****************/
	$('.script-cart-row').on('click','.update-cart-item',function(e){
		var data_line_id = $(this).closest('.script-cart-row').attr('data-line-id')
		console.log(data_line_id)
		if (parseInt(data_line_id) > 0) {
			var newQnty = $(this).closest('.script-cart-row').find('input[name="updates[]"]').val();
			$('*[data-line-id="'+ data_line_id +'"]').each(function(value){
				$(this).find('input[name="updates[]"]').val(newQnty);
				$(this).find('.cart-text-value').html(newQnty);
				
			})			
		}		
		$('#updateCart').trigger('click');		
	})
	
	$('#cartform').on('click','input[name="update"]', function(){$('#cartform').attr('action','/cart');})
	
	/***** input update - form submit ****/
	$('input[name="updates[]"]').on('keypress', function(e){
		//if return key hit
		if (e.which == 13) { $(this).closest('.script-cart-row').find('.update-cart-item').trigger('click');}
	})
	
	/***** deletes ***********/
	$('.script-cart-row').on('click','.remove-cart-item',function(e){
		$(this).closest('.script-cart-row').find('input[name="updates[]"]').val(0);
		
		var data_line_id = $(this).closest('.script-cart-row').attr('data-line-id')
		console.log(data_line_id)
		if (parseInt(data_line_id) > 0) {
			var newQnty = $(this).closest('.script-cart-row').find('input[name="updates[]"]').val();
			$('*[data-line-id="'+ data_line_id +'"]').each(function(value){
				$(this).find('input[name="updates[]"]').val(newQnty);
				$(this).find('.cart-text-value').html(newQnty);
				
			})			
		}		
		$('#updateCart').trigger('click');	
	})
	
	$('.empty-cart-button').click(function(){
		if ($.fn.confirm ) {
			$.confirm({
				title: 'Confirmation',
				content: ' Are you sure you want to permanently remove all items you\'ve added to your cart?',
				confirmButton : 'Empty My Cart',
				cancelButton : 'Cancel',
				confirmButtonClass : 'btn-primary',
				cancelButtonClass : 'btn-primary',
				confirm: function(){
					window.location.href = '/cart/clear';
				},
				cancel: function(){	}
			});				//code
		}
		else {
			if (confirm('Are you sure you want to permanently remove all items you\'ve added to your cart?')) {
				window.location.href = '/cart/clear';
			}
		}
		
	})
})	

</script>

