<div style="padding-top: 36px;">
	<div class="strike-line">
		<div class="h1">Home Page strike line</div>
	</div>	
</div>


<h1>Heading One</h1>
<h2>Heading Two</h2>		
<h3>Heading Three</h3>
<h4>Heading Four</h4>
<h5>Heading Five</h5>

<blockquote><p>"This is an interesting fact or quote"</p> <p class="cite">- Marc Hoelscher</p></blockquote>        
<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
<h3>Ordered List</h3>
<ol>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
</ol>
<h3>Unordered List with default Custom bullets  </h3>
<p>Require class="custom-bullet" </p>
<ul class="custom-bullets">
	<li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>

	<li>Second Item
		<ul>
			<li>First Item</li>
			<li>Second Item</li>
			<li>Third Item
			<ul>
				<li>First Item</li>
				<li>Second Item</li>
			</ul>
			</li>
			
		</ul>
	</li>
	<li>Third Item</li>
	
</ul>
<h3>Font Awesome Checkbox</h3>
<ul class="fa-ul">
	<li><i class="fa-li fa fa-check"></i>First Item</li>
	<li><i class="fa-li fa fa-check-square-o"></i>Second Item</li>
	<li><i class="fa-li fa fa-check-circle-o"></i>Third item"</li>
	<li><i class="fa-li fa fa-check-circle-o fa-2x"></i>Third item"</li>
</ul>
<h3>Unordered List No custom-bullets</h3>					
<ul >
	<li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>

	<li>Second Item
		<ul >
			<li>First Item</li>
			<li>Second Item</li>
			<li>Third Item
			<ul>
				<li>First Item</li>
				<li>Second Item</li>
			</ul>
			</li>
			
		</ul>
	</li>
	<li>Third Item</li>
	
</ul>	
<pre>Preformatted code text.La la la.</pre>									
<p>I suppose I should put in a line with <em>emphasis</em> and <strong>strong words</strong>, too.</p>  
<p class="narrow1">This paragraph uses a reduced line-height that reads better in narrow columns. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ulliam corper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<p class="narrow2">This paragraph uses a reduced line-height that reads better in narrow columns. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ulliam corper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					

{%comment%}

{% include 'theme-variables' %}

{% if settings.advanced-homepage-layout != blank %}
	{% include 'index-advanced-layout' %}
{% else %}

<!-- Homepage Intro -->
{% unless settings.homepage-content == blank %}{% assign homepage = pages[settings.homepage-content] %}
<section id="homepage-intro" class="section-wrap">
	{% include '__containers-open' %}
		<h1 class="page-header" id="homepage-title">{{ homepage.title }}</h1>
		{% unless homepage.content == blank %}
		{% include '__formatted-content' with homepage.content %}
		{% endunless %}
	{% include '__containers-close' %}
</section>
{% endunless %}

<!-- Features Linklist Overview -->
{% include 'index-features' %}

<!-- Featured Collections -->
{% unless settings.homepage-collections-linklist == blank %}
<section id="featured-collections" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header" id="collectons-title">{{ linklists[settings.homepage-collections-linklist].title }}</h2>
		{% include 'collections-list' with 'featured' %}
	{% include '__containers-close' %}
</section>
{% endunless %}

<!-- Featured Products -->
{% unless settings.homepage-products-collection == blank %}
{% assign homepage_collection = collections[settings.homepage-products-collection] %}
{% assign homepage_collection_products_count = homepage_collection.all_products_count | times: 1 %}
{% if homepage_collection_products_count > 0 %}
{% assign is-product-list = true %}
<section id="product-list" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header" id="products-title">{% if homepage_collection_products_count > homepage_products_limit %}<a href="{{ homepage_collection.url }}">{{ homepage_collection.title }}</a> <a class="small" href="{{ homepage_collection.url }}">{% include '__localize' with 'View all' %}</a>{% else %}{{ homepage_collection.title }}{% endif %}</h2>
		{% include 'products-list' %}
	{% include '__containers-close' %}
</section>
{% else %}
  {% if settings.collection-fallback-page != blank %}
    {% assign fallback = pages[settings.collection-fallback-page] %}
    <section id="collection-page" class="section-wrap">
    	{% include '__containers-open' %}
    		<h1 class="page-header" id="collection-page-title">{{ fallback.title }}</h1>
    		{% unless fallback.content == blank %}
    		{% include '__formatted-content' with fallback.content %}
    		{% endunless %}
    	{% include '__containers-close' %}
    </section>
  {% elsif settings.homepage-products-collection == 'frontpage' %}
    {% include 'onboarding-featured-products' %}
  {% endif %}
{% endif %}
{% endunless %}

<!-- Homepage Blog Overview -->
{% include 'index-blog' with 'blog' %}

{% include 'index-testimonials' %}

{% assign album_set = false %}
{% for fb in blogs[settings.facebook-album-blog].articles %}
  {% if fb.metafields.social-feed.facebook-album != blank and album_set != true %}
    {% include 'social-feed-facebook' with fb %}
    {% assign album_set = true %}
  {% endif %}
{% endfor %}

{% include 'social-feed-instagram' with homepage %}
{% endif %}
{%endcomment%}