<ul class="collections-list">
	{% for collection in collections %}
		{% capture thumb %}{% if collection.image %}{{ collection.image | img_url: 'medium' }}{% endif %}{% endcapture %}
		{% capture collectionUrl %}{{shop.url}}{{collection.url}}{% endcapture %}
		{% capture collectionContent %}
			<div class="collection-product-count">Items ({{collection.products_count}})</div>
			<div class="collection-product-description">{{collection.description}}</div>
			<div class="collection-product-action">											
				<a href="{{collectionUrl}}" class="btn btn-primary">{{ 'general.learn-more' | t}}</a>
			</div>
	{% endcapture %}
		{% include 'utility_listing',
			thumb : {{thumb}},
			image : {{thumb}},
			title : {{collection.title}},
			link : {{collectionUrl}},
			content : {{collectionContent}}
		%}
	{% endfor %}
</ul>