
<div class="row">
<!-- Product Images ***************************************************** -->				
	<div class="col-sm-4"  >
		{% include 'product-images-flexslider' %}
		{% include 'product-metadata' %}							   
	</div>
<!-- Product Information ************************************************ -->					
	<div class="col-sm-8">	
		<div id="productDescription" itemprop="description">
<!-- Price ***************************************************** -->
			<div id="productPriceWrapper" class="line-separator-bottom">
				<div>
					{% assign variant = product.selected_or_first_available_variant %}											
					<span id="productPrice" class="{% if product.compare_at_price_max > product.price %}sale-price{%endif%}">{{ variant.price | money}}</span>
					{% if product.compare_at_price_max > product.price %}
						<span id="oldPrice">{% if variant.compare_at_price > 0 %}{{ variant.compare_at_price | money }}{% endif %}</span>
					{% endif %}				
				</div>				
			</div>			

<!-- Model and Options ***************************************************** -->
			<div class="product-cart-options">
				<form  method="post" action="/cart/add" id="add-item-form" name="add-item-form" class="textile" enctype="multipart/form-data">
					<!-- this is varient product options -->
					{% if product.available %}<!-- START products available -->
					<div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">							
						<meta itemprop="price" content="{{ product.price | money_without_currency }}" />
						<meta itemprop="priceCurrency" content="{{ shop.currency }}" />
						<meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" content="InStock" />

						<!-- this is the models  / variants -->								
						{% if product.variants.size > 1%}
						<div id="productModel" class="">
							<h3 class="price-and-options-title" data-pid="{{product.id}}">{{'products.option.choose-model' | t}}</h3>								
							<div id="productVariants" class="clearFix">
								<div >												
									<select name="id" id="product-select" class="form-control" style="visibility: hidden;" >
										{% for variant in product.variants %}
										<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}	value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
										{% endfor %}
									</select> 
								</div>			  
							</div>		
						</div>
						{% else %}								
						{% assign variant = product.selected_or_first_available_variant %}
						<input type="hidden" name="id" value="{{ variant.id }}" />
						{% endif %}
					</div>
					{% else %}							
					<div class="soldOut"><p>{{ settings.soldOutText }}</p></div>						
					{% endif %}<!-- END products available -->							
<!-- Add to cart ***************************************************** -->
					<div id="productPurchase" class="clearFix ">					
						<div class="pull-left">
							{% if product_options.size > 50 %}<input type="hidden" name="properties[Ref_line_ID]" value="0" />{%endif%}
							<input  id="quantity" type="text" pattern="[0-9]*" class="form-control" name="quantity" style="max-width: 50px;  text-align: center; display: inline;" value="1"  />
							<span>
								<input  id=""
										type="submit"
										name="add"
										value="{{'products.links.add-to-cart' | t}}"
										class="addToCart btn btn-primary btn-md"
										onclick="update_customer_cart(this) ;return false"/>
								<i style="display: none; padding: 0px 52px;" class="fa fa-spinner fa-pulse fa-2x" ></i>
							</span>									
						</div>
						<a 	href="/cart"
								class="btn btn-primary hidden-xs hidden-sm btn-md"
								style="margin-left: 24px;"									
								>{{'products.links.view-cart' | t}}</a>	

						<div class="clearfix" style="clear: both"></div>
					</div>	
				</form>	
			</div><!-- end of product-cart-options -->
			<div id="product-status-message"></div>			
<!-- tabs ***************************************************** -->
			<div class="product-details-wrapper">{{product.description}}</div>					
		</div>
	</div>
</div>


{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
{% include 'product-script' %}