<!-- page content -->
<div class="{% if settings.sidebar-product-enable %}{{settings.content-grid-secondary-main-class}}{% else %}col-lg-12{% endif %}" id="main" role="main" itemscope itemtype="http://schema.org/Product">
	<div class="main-col-wrapper  " >
		<div class="hidden-xs">{% include 'breadcrumbs' %}</div>
		<div class="strike-line" style="margin-bottom: 78px;">
			<h1  itemprop="name"><span>{{ product.title }}</span></h1>
		</div>
		
		<div class="row">
			<!-- sidebar -->					
			<div class="{{settings.content-grid-product-sidebar-class}}"  >
				{% include 'product-images-flexslider' %}
				{% include 'product-metadata' %}	
					   
			</div>			
			<div class="{{settings.content-grid-product-main-class}}">	
				<div id="productDescription" itemprop="description">			
<!-- Price ***************************************************** -->
					<div id="productPriceWrapper" class="line-separator-bottom">
						<div>
							{% assign variant = product.selected_or_first_available_variant %}											
							<span id="productPrice" class="{% if product.compare_at_price_max > product.price %}sale-price{%endif%}">{{ variant.price | money}}</span>
							{% if product.compare_at_price_max > product.price %}
								<span id="oldPrice">{% if variant.compare_at_price > 0 %}{{ variant.compare_at_price | money }}{% endif %}</span>
							{% endif %}				
						</div>				
					</div>			
				
<!-- Model and Options ***************************************************** -->
					<div class="product-cart-options">
						<form  method="post" action="/cart/add" id="add-item-form" name="add-item-form" class="textile" enctype="multipart/form-data">
							<!-- this is varient product options -->
							{% if product.available %}<!-- START products available -->
							<div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">							
								<meta itemprop="price" content="{{ product.price | money_without_currency }}" />
								<meta itemprop="priceCurrency" content="{{ shop.currency }}" />
								<meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" content="InStock" />
								
								<!-- this is the models  / variants -->								
								{% if product.variants.size > 1%}
								<div id="productModel" class="">
									<h3 class="price-and-options-title" data-pid="{{product.id}}">{{'products.option.choose-model' | t}}</h3>								
									<div id="productVariants" class="clearFix">
										<div >												
											<select name="id" id="product-select" style="visibility: hidden;" >
											  {% for variant in product.variants %}
												<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}	value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
											  {% endfor %}
											</select> 
										</div>			  
									</div>		
								</div>
								{% else %}								
								{% assign variant = product.selected_or_first_available_variant %}
								<input type="hidden" name="id" value="{{ variant.id }}" />
								{% endif %}
							</div>
							{% else %}							
							<div class="soldOut"><p>{{ settings.soldOutText }}</p></div>						
							{% endif %}<!-- END products available -->							
<!-- Add to cart ***************************************************** -->
							<div id="productPurchase" class="clearFix ">					
								<div class="pull-left">
									{% if product_options.size > 50 %}<input type="hidden" name="properties[Ref_line_ID]" value="0" />{%endif%}
									<input  id="quantity" type="text" pattern="[0-9]*" class="form-control" name="quantity" style="max-width: 50px; font-size: 18px; height: 38px; text-align: center; display: inline;" value="1"  />
									<span>
										<input  id=""
												type="submit"
												name="add"
												value="{{'products.links.add-to-cart' | t}}"
												class="addToCart btn btn-primary"
												onclick="update_customer_cart(this) ;return false"/>
										<i style="display: none; padding: 0px 52px;" class="fa fa-spinner fa-pulse fa-2x" ></i>
									</span>									
								</div>
								<a 	href="/cart"
										class="btn btn-primary hidden-xs hidden-sm"
										style="margin-left: 24px;"									
										>{{'products.links.view-cart' | t}}</a>	
			
								<div class="clearfix" style="clear: both"></div>
							</div>	
						</form>	
					</div><!-- end of product-cart-options -->
					<div id="product-status-message"></div>			
<!-- tabs ***************************************************** -->
					<div class="product-details-wrapper">{{product.description}}</div>
			
				</div>
			</div>
         

		</div>
	</div>
</div>
{% if settings.sidebar-product-enable %}
<!-- sidebar -->
<div class="{{settings.content-grid-secondary-sidebar-class}}"  >
	<div  id="sidebar">
		<div id="sidebar-wrapper">
			{% if settings.product-page-snippet != blank %}
			{% include settings.product-page-snippet %}
			{%else%}
			{% include 'warning' type : 'no-sidebar' %}				
			{%endif%}			
		</div>								
	</div>                
</div>
{% endif %}			

{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
{% include 'product-script' %}