<div class="{% if settings.sidebar-account-enable %}{{settings.content-grid-secondary-main-class}}{% else %}col-lg-12{% endif %}" id="main" role="main" >
	<div class="main-col-wrapper  " >
		<div class="hidden-xs">{% include 'breadcrumbs' %}</div>
        <h1>{{'accounts.account' | t}}</h1>      
        {% if customer.orders.size != 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th class="order_number">{{ 'accounts.order' |t}}</th>
                    <th class="date">{{'general.date' | t | capitalize}}</th>
                    <th class="payment_status">{{'accounts.payment-status' | t}}</th>
                    <th class="fulfillment_status">{{'accounts.fulfillment-status' | t}}</th>
                    <th class="total">{{ 'general.total' | t | capitalize}}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in customer.orders %}
                <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                    <td>{{ order.name | link_to: order.customer_url }}</td>
                    <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
                    <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
                    <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
                    <td><span class="total money">{{ order.total_price | money }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{'accounts.you-havent-placed-any-orders-yet' | t}}</p>          
        {% endif %}
	</div>
</div>
{% if settings.sidebar-account-enable %}
<!-- sidebar -->
<div class="{{settings.content-grid-secondary-sidebar-class}}"  >
	<div  id="sidebar">
		<div id="sidebar-wrapper">
			{% if settings.sidebar-account-snippet != blank %}
			{% include settings.sidebar-account-snippet %}
			{%else%}
			{% include 'warning' type : 'no-sidebar' %}				
			{%endif%}			
		</div>								
	</div>                
</div>
{% endif %}