
<div class="{% if settings.sidebar-orders-enable %}{{settings.content-grid-secondary-main-class}}{% else %}col-lg-12{% endif %}" id="main" role="main" >
	<div class="main-col-wrapper  " >
		<div class="hidden-xs">{% include 'breadcrumbs' %}</div>		
		<h1 >{{'accounts.order' |t}} {{ order.name }}</h1>
		<div style="margin-bottom: 36px;" id="product-status-message"><div class="message padded-box centered">{{'general.placed-on' | t }} {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</div></div>
		<div>
			 {% if order.cancelled %}
			 <div id="order_cancelled" class="errors">
				 <h5 id="order_cancelled_title">Order Cancelled <span class="note">on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}</span></h5>
				 <span class="note">{{ order.cancel_reason }}</span>
			 </div>
			 {% endif %}                
			  <table  id="order-table" class="table">
				 <thead>
					 <tr>
						 <th>{{'products.product' |t}}</th>
						 <th>{{'products.sku' | t }}</th>
						 <th class="money">{{'products.price' | t}}</th>
						 <th class="quantity">{{'products.quantity' | t}}</th>
						 <th class="total">{{'general.total' | t }}</th>
					 </tr>
				 </thead>
				 <tbody>
				   {% for line_item in order.line_items %}
					<tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
						<td class="product alignTextLeft">
							{{ line_item.title | link_to: line_item.product.url }} 
							{% if line_item.fulfillment %}
							<div class="note">
							  Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
							  {% if line_item.fulfillment.tracking_number %}
							  <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
							  {% endif %}
							</div>
							{% endif %}
						</td>
						<td class="sku note">{{ line_item.sku }}</td>
						<td class="money">{{ line_item.price | money }}</td>
						<td class="quantity">{{ line_item.quantity }}</td>
						<td class="total money">{{ line_item.quantity | times: line_item.price | money }}</td>
					</tr>
				   {% endfor %}
				 </tbody>  
				 <tfoot>
					 <tr class="order_summary note">
					   <td colspan="4">{{'general.subtotal' |t}}:</td>
					   <td class="total money">{{ order.subtotal_price | money }}</td>
					 </tr>   
					 {% for shipping_method in order.shipping_methods %}
					 <tr class="order_summary note">
					   <td colspan="4">{{'general.shipping' |t}} ({{ shipping_method.title }}):</td>
					   <td class="total money">{{ shipping_method.price | money }}</td>
					 </tr>
					 {% endfor %}
					 {% for tax_line in order.tax_lines %}
					 <tr class="order_summary note">
					   <td  colspan="4">{{'general.tax' | t}} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):</td>
					   <td class="total money">{{ tax_line.price | money }}</td>
					 </tr>
					 {% endfor %}    
					 <tr class="order_summary order_total">
					   <td colspan="4">{{'general.total' |t}}:</td>
					   <td class="total money">{{ order.total_price | money }} {{ order.currency }}</td>
					 </tr>   
				 </tfoot>  
			 </table>                        
		 </div>
		<div class="action_link action_return align-right-md" id='return_to_store'><a href="/account">{{'accounts.return-to-account-page' |t}}</a></div>
	
	</div>
</div>
{% if settings.sidebar-orders-enable %}
<!-- sidebar -->
<div class="{{settings.content-grid-secondary-sidebar-class}}"  >
	<div  id="sidebar">
		<div id="sidebar-wrapper">
			{% if settings.sidebar-orders-snippet != blank %}
			{% include settings.sidebar-orders-snippet %}
			{%else%}
			{% include 'warning' type : 'no-sidebar' %}				
			{%endif%}			
		</div>								
	</div>                
</div>
{% endif %}



