<div class="{% if settings.sidebar-reset-enable %}{{settings.content-grid-secondary-main-class}}{% else %}col-lg-12{% endif %}" id="main" role="main" >
	<div class="main-col-wrapper  " >
		<div class="hidden-xs">{% include 'breadcrumbs' %}</div>

		<h1>{{'accounts.password-reset' | t }}</h1>
		<p>{{'accounts.enter-new-password' | t }} <strong>{{ email }}</strong></p>
		{% include 'forms' formType : 'reset_customer_password' %}         		

	</div>
</div>
{% if settings.sidebar-reset-enable %}
<!-- sidebar -->
<div class="{{settings.content-grid-secondary-sidebar-class}}"  >
	<div  id="sidebar">
		<div id="sidebar-wrapper">
			{% if settings.sidebar-reset-snippet != blank %}
			{% include settings.sidebar-register-snippet %}
			{%else%}
			{% include 'warning' type : 'no-sidebar' %}				
			{%endif%}			
		</div>								
	</div>                
</div>
{% endif %}