<!DOCTYPE html>
<html>
	<head>
		{% include 'meta' | strip | strip_newlines %}		

		{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
		{{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
		{{ 'toastr8.min.css' | asset_url | stylesheet_tag }}
		{{ 'theme.scss.css' | asset_url | stylesheet_tag }}
		
		{{ 'modernizr.gift-card.js' | asset_url | script_tag }}
		{{ 'jquery.min.js' | asset_url | script_tag }}
		{{ 'bootstrap.min.js' | asset_url | script_tag }}
		
		{{ 'javascript.isotope.pkgd.min.js' | asset_url | script_tag }}
		{%comment%}{{ 'easing.js' | asset_url | script_tag }}{%endcomment%}
		
		{{ 'smooth-scroll.min.js' | asset_url | script_tag }}
		{{ 'smoothzoom.min.js' | asset_url | script_tag }}
		{{ 'stickycomponent.min.js' | asset_url | script_tag }}
		{{ 'wow.min.js' | asset_url  | script_tag }}
		
		{{ 'parallax.min.js' | asset_url | script_tag }}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }}
		{% if template contains 'index' %}		 
			{{ 'greensock.js' | asset_url | script_tag }}
			{{ 'layerslider.transitions.js' | asset_url | script_tag }}
			{{ 'layerslider.kreaturamedia.jquery.js' | asset_url | script_tag }}		
			{{ 'layerslider.css' | asset_url | stylesheet_tag }}
			{{ 'skin.css' | asset_url | stylesheet_tag }}		
		{% endif %}
		
		{{ 'script.js' | asset_url | script_tag }}
		{{ 'theme.js' | asset_url | script_tag }}
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	
	  {% if template contains 'customers' %}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }}
		{{ "customer_area.js"  | shopify_asset_url | script_tag }}
	  {% endif %}
	
	  {{ content_for_header }}
	</head>
	{% capture body_class %}{% include '__body-classes' %}{% endcapture %}
	{% include 'data-site' %}

	<body class="{{body_class | strip_newlines | strip }}"> 	
	
		<div id="outer-container">
			{% include 'header' %}
			<div class="main-outer-wrapper">
				<div id="content" >
					{% if template == blank%}
					{% else %}
						{% if template != 'index' %}{% include 'layout_header' %}{% endif %}
						{{ content_for_layout }}
						{% if template != 'index' %}{% include 'layout_footer' %}{% endif %}
					{%endif%}				   
				</div>
			</div>
			{% include 'footer' %}
			{% comment %}{% endcomment %}
		</div>
		
		<div class="modal fade general-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content"></div>        
			</div>
		</div>
		 {{ 'toastr8.min.js' | asset_url | script_tag }}
	</body>
</html>
