<div class="{{class}}">
    <div class="zoom-overlay-wrapper">
        {% if link != blank and title != blank %}<h3 class="align-center-xs"><a href="{{link}}">{{title}}</a></h3>{% else %}{% endif %}
        {% if image != blank%}
        <div class="image-wrapper">
            <a href="{{link}}">
                <img style="width: 100%;" data-image="{{image}}" alt="{{title}}" />
                <noscript>
                    <img class="img-responsive" src="{{image}}" alt="{{title}}" />
                </noscript>
                <div class="image-overlay">
                    {{content}}                   
                    <div class="image-overlay-action" >
                        <button href="{{link}}" class="btn-secondary btn ">{{button}}</button>
                    </div>
                </div>
            </a>            
        </div>
        {% endif %}        
    </div>
</div>