{% if settings.blog-primary != blank %} 
{% capture blog_limit %}{%if limit %}{{limit}}{% else%}3{%endif%}{%endcapture%} 
{% include 'archive-logic' %}

{% if compact %} 
{%else%}
<h2 class="sidebarTitle">{{'general.news' | t}}</h2> {%endif%}
<div id="latest-news" class="rssFeed {% if compact %} rssFeed-compact{%endif%}{%if sidebar %} sidebar {%endif%}">
	<div class="rssBody">
		<ul data-limit="{{blog_limit}}" class="rss-feed-wrapper">
			{% for article in articles_all | limit: blog_limit %}			
			{% capture articleClass %}
				{% if article.url contains 'media-clippings' %}
					media-clippings
				{% elsif article.url contains 'news-releases' %}
					news-releases
				{% else %}
					posts
				{% endif %}
			{% endcapture %}
			<li class="rssRow article-row {{ articleClass | strip }}">
				{% if compact %}
				<h4 class="latest-post"><a  title="{{article.title}} {{article.url}}"
					   href="{{article.url}}"
					   target="_self">{{article.title}}</a>
				</h4> 
				{% else %} 
				{% include 'blog_row' with article %}
				{% endif %}
			</li>
			{% assign srci = false %} 
			{% endfor %}
		</ul>
		
		{% if compact %}
		{% else %}
		<div style="padding-top:60px">
			<a href="{{blogs.news.url}}" class="btn btn-primary">View All News</a>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}