{% if settings.blog-primary != blank %}
{% capture blog_limit %}{%if limit %}{{limit}}{% else%}3{%endif%}{%endcapture%}
{% if compact %}
{%else%}
	    <h2 class="sidebarTitle">Latest News</h2>  		
{%endif%}	
<div id="latest-news" class="rssFeed {% if compact %} rssFeed-compact{%endif%}{%if sidebar %} sidebar {%endif%}">
	<div class="rssBody">		
		<ul data-limit="{{blog_limit}}">
			{% for article in blogs[settings.blog-primary].articles | limit: blog_limit %}
			<li class="rssRow">
				{% if compact %}
				<h4><a title="{{article.title}}"
					   href="{{article.url}}"
					   target="_self">{{article.title}}</a>
				</h4>
				{% else %}
					
				
					{% if article.content contains "<img"  and article.content contains 'id="feature-image"' %}
						{% assign srci = article.content | split: 'id="feature-image"' %}
						{% assign srci = srci[1] | split: 'src="' %}                                            
						{% assign srci = srci[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
					{% endif %}
		
		
				<div class="row">
					{% if srci %}<div class="blog-index-image-index col-sm-4"><a href="{{article.url}}"><img  style="" src="{{srci}}" alt="feature image {{article.title | escape}}" /></a> </div>{%endif%}
					<div class="{% if srci %}col-sm-8{%else%}col-sm-12{%endif%}">
						<h4><a title="{{article.title}}"   href="{{article.url}}"  target="_self">{{article.title}}</a>	</h4>
						<p>	<span><b>{{ article.published_at | date: "%B %d, %Y" }} </b> - </span>{% if article.excerpt.size > 0 %}
							{{article.excerpt | strip_html | truncatewords: 25 }}
							{% else %}
							{{ article.content | strip_html | truncatewords: 25 }}
							{% endif %}
						</p>							
					</div>
				</div>		
				
				{% endif %}

			</li>
			{% assign srci = false %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}