<ul class="B_crumbBox">
        <li temtype="http://data-vocabulary.org/Breadcrumb" itemscope="itemscope"  class="B_firstCrumb" >
            <a href="/" rel="Home" itemprop="url" class="B_homeCrumb"><span itemprop="title">Home</span></a>
        </li>
    {% unless collection.title == blank or collection.title == page_title or template == 'index' or template contains 'collection' %}       
        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_crumb" itemscope="itemscope"><a href="{{ collection.url }}" rel="{{ collection.title }}" itemprop="url" class="B_crumb"><span itemprop="title">{{ collection.title }}</span></a></li>
    {% endunless %}
  
    {% if blog.title != blank and blog.title != page_title %}
        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_crumb" itemscope="itemscope"><a href="{{ blog.url }}" rel="{{ blog.title }}" itemprop="url" class="B_crumb"><span itemprop="title">{{ blog.title }}</span></a></li>
    {% endif %}
    {% if article.title != blank and article.title != page_title %}
        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_crumb" itemscope="itemscope"><a href="{{ article.url }}" rel="{{ article.title }}" itemprop="url" class="B_crumb"><span itemprop="title">{{ article.title }}</span></a></li>
    {% endif %}
    {% if product.title != blank and product.title != page_title %}

        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_crumb" itemscope="itemscope"><a href="{{ product.url | within: collection }}" rel="{{ product.title }}" itemprop="url" class="B_crumb"><span itemprop="title">{{ product.title }}</span></a></li>
        
    {% endif %}
    {% if current_tags == blank %}
        {% if template contains 'customers' %}
        {% unless template == 'customers/account' %}
        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_crumb" itemscope="itemscope">{{ 'accounts.account' | t | link_to: '/account' }}</li>
        {% endunless %}
        {% endif %}            
        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_currentCrumb" itemscope="itemscope">{{ page_title }}</li>
    {% else %}
        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_crumb" itemscope="itemscope">{{ page_title | link_to: './' }}</li>
        » <li itemtype="http://data-vocabulary.org/Breadcrumb" class="B_currentCrumb" itemscope="itemscope">{{ 'navigation.tags.filtered-by-tags' | t }} {{ current_tags | join: ' + ' }}</li>       
        
  {% endif %}
</ul>


