<div id="commentForm" class="form-horizontal info-box">
	{% form article %}  
	<h2 style="padding-top:0">Leave a Comment</h2>
  
  {% comment %} Form Success {% endcomment %}
	{% if form.posted_successfully? %}
		{% if blog.moderated? %}
    <p class="noticeSuccess">
      {{ settings.commentSuccessText }}. {{ settings.needApprovedText }}.
    </p><!-- noticeSuccess -->
    {% else %}
    <p class="noticeSuccess">
      {{ settings.commentSuccessText }}.
    </p><!-- noticeSuccess -->
    {% endif %}
	{% endif %}
  
  {% comment %} Form Errors {% endcomment %}
	{% if form.errors %}
  <p class="noticeError">
    {{ settings.commentErrorText }}.
  </p><!-- noticeError -->
  {% endif %}
  <div id="commentFormFields">
    <div class="form-group {% if form.errors contains 'author' %}has-error{% endif %}">
      <label class="control-label col-sm-2"  for="commentAuthor">Name</label>
      <div class="col-sm-8">		
        <input  id="commentAuthor" type="text" class="form-control "  name="comment[author]" value="{% if shop.customer_accounts_enabled %}{% if customer  %}{{customer.name}}{% else %}{{form.author}}{% endif %}{% endif %}"   />
      </div>
    </div>									
    <div class="form-group {% if form.errors contains 'email' %}has-error{% endif %}">
      <label class="control-label col-sm-2"  for="commentEmail">Email</label>
      <div class="col-sm-8">		
        <input id="commentEmail" type="email" class="form-control "  name="comment[email]" value="{% if shop.customer_accounts_enabled %}{% if customer  %}{{customer.email}}{% else %}{{form.email}}{% endif %}{% endif %}"   />
      </div>
    </div>

    <div class="form-group {% if form.errors contains 'body' %}has-error{% endif %}">
      <label class="control-label col-sm-2"  for="commentBody">Comment</label>
      <div class="col-sm-8">		
        <textarea id="commentBody" name="comment[body]"  class="form-control {% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea>
      </div>
    </div>
    <div class="form-group" style="padding: 12px 0 12px;">
      <div class="col-sm-12">
        <input type="submit" value="Comment" class="btn btn-primary btn-lg" id="commentSubmit" />

      </div>
    </div>
    {% if blog.moderated? %}<div class="commentHint"> <em>Please note that comments are moderated by {{shop.name}}. You will receive an email when your comment has been added to this post</em>.</div>{% endif %}
	  {% endform %}
  </div><!-- commentForm -->
</div>