{% include 'contact_variables' %}
<div id="footer-wrapper">
	<div class="container">
		<div class="column-wrapper">
            <div class="row">
                <!-- left side of footer -->
                <div class="col-md-7 col-lg-8" >
                    <div class="footer-content-wrapper">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="{{'branding-footer-logo-image-file.png' | asset_url}}" alt="{{shop.name}} Logo" class="{{settings.branding-footer-logo-icon-class}} " style="" />		        
                            </a>
                        </div>    
                        {% include 'social-icons' %}
                        <div class="footer-text-wrapper"></div>                            
                        <div class="footer-phone">{{shop.phone}}</div>
                        <div class="footer-email"></div>
                        <div class="footer-nav">{% include 'navbar' menu_type : 'footer' %}</div>
                        <div class="row copyright" id="">
                           <div class="col-md-12 hidden-xs hidden-sm" >
                               &copy; Copyright  2014 - {{'now' | date: "%Y" }} Fifth Gear Marketing <span class=""> | </span> Site developed by  <a href="javascript:void(0)" data-prefix="info" data-domain="fifthgeardev.com">Fifth Gear</a>
                           </div>
                       </div>                        
                    </div>             
                    
                </div>
                <!-- right side of footer -->
                <div class="col-md-5 col-lg-4 visible-lg-block visible-md-block" >
                    <div class="footer-form-content">
                        <h3>{{ 'general.footer-form-title' | t }}</h3>
                        {% include 'forms' formType : 'contact_compact' ph_flag : true labelClass : 'sr-only' controlClass : 'col-sm-12' %}
                    </div>                
                </div>               
            </div>
        </div>
    </div>
</div>
