<div id="footer-wrapper" >

	<div class="contact-container" style="position: relative;"
		 {% comment %}
		 data-parallax="scroll"
		 data-bleed="50"
		 data-speed="0"
		 data-z-index="-95"
		 data-image-src="https://cdn.shopify.com/s/files/1/1334/6905/files/background-footer.jpg?15914333796042654014"
		{% endcomment %}
		 data-background="https://cdn.shopify.com/s/files/1/1334/6905/files/background-footer.jpg?15914333796042654014"
		 >
		<div class="container">
			<div class="modular">
				<div class="row">
					<!-- left side of footer -->
					<div class="col-md-7 col-lg-7" >
						<div class="footer-content-wrapper">
							<div class="footer-logo">
								<a href="/" class="logo" >
									<img src="{{'branding-footer-logo-image-file.png' | asset_url}}" alt="{{shop.name}} Logo" class="{{settings.branding-footer-logo-icon-class}} "  />		        
								</a>
							</div>    
							
							{% if footer_html %}<div class="footer-text-wrapper">{{footer_html}}</div>{% endif %}
							<div class="footer-address-contact">
								{%if phone_booking %}<div class="footer-phone toll-free"><span>{{'general.booking' | t}}: </span>{{phone_booking}}</div>{%endif%}
								{%if phone_toll  %}<div class="footer-phone toll-free"><span>{{'general.toll-free' | t}}: </span>{{phone_toll}}</div>{%endif%}
								{%if phone_office %}<div class="footer-phone"><span>{{'general.phone' | t}}: </span>{{phone_office}}</div>{%endif%}
								{%if phone_fax %}<div class="footer-phone"><span>{{'general.fax' | t}}: </span>{{phone_fax}}</div>{%endif%}
								{%if email_info %}
									<div class="footer-email">
										<span>{{'general.email' | t}}: </span>
										{% include 'utility'  type: 'email' email: email_info %}
									</div>
								{%endif%}								
							</div>

							<div class="footer-address">
							{%if settings.footer-address-enable %}
								{{shop.address.summary}}, {{shop.address.zip}}
								<span class="seperator">|</span>								
							{%endif%}
								
							</div>							
							{% include 'social-icons'  %}
							{% if footer_post_content %}{{footer_post_content}}{% endif %}
						   
						</div>             
						
					</div>
					<!-- right side of footer -->
					<div class="col-md-5 col-lg-5 visible-lg-block visible-md-block" >
						<div class="footer-form-content">
							{% if page.handle != 'contact' and page.handle != 'contact-us'%}
							<h3>{{ 'general.footer-form-title' | t }}</h3>
							{% include 'forms' formType : 'contact_compact' ph_flag : true labelClass : 'sr-only' controlClass : 'col-sm-12' %}
							<div class="footer-privacy-policy">View our
								<a  data-toggle="modal"
									data-target=".general-modal"
									href="{{pages.privacy-policy.url}}">{{'general.privacy-policy' |t}}
								</a>
							</div> 
						{% endif %}
						</div>                
					</div>               
				</div>
			</div>
		</div>
		<div class="scroll-button top-button" >
			<a data-scroll  href="#header-top-nav-parent"><span></span></a>      
		</div>	
	</div>
	
	<div class="footer-fake-container"></div>
	
	<div class="copyright-container full-wrapper" >
		<div class="modular">
			<div class="footer-nav" >{% include 'navbar' linklist : settings.navigation-linklist-main, type : 'footer' %}</div>
			{{footer_copyright}}
		   <div class="copyright" >{%capture todayDate %}{{'now' | date: "%Y" }}{%endcapture%}  &copy; {{'general.copyright' |t}}  2016 {% if todayDate != '2016' %}- {{todayDate}}{%endif%}  {{shop.name}} <span class="separator"> | </span> {{'general.site-developed-by' | t}}  <a href="javascript:void(0)" data-prefix="info" data-domain="fifthgeardev.com" >Fifth Gear</a></div>
		</div>
	</div>

</div>