
{% include 'contact_variables' %}
<div id="footer-wrapper">
	<div class="container">
		<div class="column-wrapper">
            <div class="row">
                <!-- left side of footer -->
                <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6" >
                    <div class="footer-content-wrapper">
                        
						<div class="row" >
							<div class="col-lg-8">
								<div class="nav-column-wrapper hidden-xs">
									<div class="row" >
										<div class="col-xs-6">
                                            {% if settings.footer-menu-products != blank%}
                                                <h4>{{'general.products' |t}}</h4>
                                                {% include 'navbar' linklist : settings.footer-menu-products type : 'footer-link-list'  %}									
											{% endif%}
                                            {% if settings.footer-menu-support != blank%}
                                                <h4>{{'general.support' |t}}</h4>
                                                {% include 'navbar' linklist : settings.footer-menu-support type : 'footer-link-list'  %}									
											{% endif%}                                            
										</div>
										<div class="col-xs-6">                                            
                                            {% if settings.footer-menu-about != blank%}
                                                <h4>{{'general.about-us' |t}}</h4>
                                                {% include 'navbar' linklist : settings.footer-menu-about type : 'footer-link-list'  %}									
											{% endif%}
                                            {% if settings.footer-menu-communication != blank%}
                                                <h4>{{'general.communications' |t}}</h4>
                                                {% include 'navbar' linklist : settings.footer-menu-communication type : 'footer-link-list'  %}									
											{% endif%}
                                        </div>
									</div>
									{% include 'social-icons' %}  	
								</div>
							</div>
							<div class="col-lg-4">
								<div class="payment-column-special-notes-column">
									<div class="payment-column">
                                        <div style ="display: table;">
                                            <ul class="payment-methods" >
                                              {% if settings.money-payment-visa %}<li><img src="{{ 'visa.png' | asset_url }}" alt="Visa"></li>{% endif %}
                                              {% if settings.money-payment-mastercard %}<li><img src="{{ 'mastercard.png' | asset_url }}" alt="Mastercard"></li>{% endif %}								  
                                              {% if settings.money-payment-amex %}<li><img src="{{ 'amex.png' | asset_url }}" alt="American Express"></li>{% endif %}
                                              {% if settings.money-payment-discover %}<li><img src="{{ 'discover.png' | asset_url }}" alt="Discover Card"></li>{% endif %}
                                              {% if settings.money-payment-paypal %}<li><img src="{{ 'paypal.png' | asset_url }}" alt="PayPal" style="margin-right: 0"></li>{% endif %}
                                              {% if settings.money-payment-google %}<li><img src="{{ 'google.png' | asset_url }}" alt="Google Checkout"></li>{% endif %}
                                              
                                            </ul>                                            
                                        </div>

                                        <div class="clearfix" style="clear: both;"></div>
										<div>
											<div class="pull-left hidden-xs" style="width: 62%;font-size: 10px;line-height: 1.3em;padding-right: 8px;">{{'general.online-payments-processed-by-shopify' |t}}</div>
											<div class="shopify-icon " style=""><img style=" max-width: 77px;" src="{{ 'shopify.png' | asset_url}}" alt="Shopify" /></div>
											<div class="clearfix" style="clear: both;"></div>
										</div>										
									</div>						
									<div>
										<div class="special-notes-text" style="">										
											
										
										</div>
										
									</div>										
								</div>
							
							</div>
						</div>                        
  
                        
                        {%if settings.footer-html.size > 0 %}<div class="footer-text-wrapper">{{settings.footer-html}}</div>{%endif%}
                        



                        
                                              
                    
                        
                        <div class="row copyright" >
                           <div class="col-md-12" >
 								{%capture todayDate %}{{'now' | date: "%Y" }}{%endcapture%}
                               &copy; {{'general.copyright' |t}}  2015 {% if todayDate != '2015' %}- {{todayDate}}{%endif%}  {{shop.name}} <span class="separator"> | </span> {{'general.site-developed-by' | t}}  <a href="javascript:void(0)" data-prefix="info" data-domain="fifthgeardev.com">Fifth Gear</a>
                          </div>
                       </div>                        
                    </div>             
                    
                </div>
                <!-- right side of footer -->
                <div class="col-lg-4 col-lg-pull-8 col-md-5 col-md-pull-7 col-sm-6 col-sm-pull-6" >
                    <div class="footer-form-content">
                        <div id="footer-form-wrapper">
                            <div class="footer-logo">
                                <a href="{{settings.main-website}}">
                                    <img src="{{'branding-footer-logo-image-file.png' | asset_url}}" alt="{{shop.name}} Logo" class="{{settings.branding-footer-logo-icon-class}} "  />		        
                                </a>
                            </div>
                            <div class="footer-address">
                                {%if settings.footer-address-enable %}
                                    <div>{{shop.address.street}}</div>
                                    <div>{{shop.address.city}}, {{shop.address.province}}</div>
                                    <div>{{shop.address.country}}, {{shop.address.zip}}</div>
                                    
                                {%endif%}
                            </div>
                            <div>
                                {%if settings.footer-phone-enable %}<span class="footer-phone">{{settings.contact-phone}}</span>{%endif%}   
                                {%if settings.footer-toll-enable and settings.footer-phone-enable %}<span class="seperator">|</span>{%endif%}
                                {%if settings.footer-toll-enable %}<span class="footer-phone toll-free"><span>{{'general.toll-free' | t}}: </span>{{settings.contact-toll}}</span>{%endif%}
                                                           
                            </div>
                            {%if settings.footer-email-enable %}
                                <div class="footer-email">
                                    <span>{{'general.email' | t}}: </span>
                                    {% include 'utility'  type: 'email' email: settings.contact-email-footer %}
                                </div>
                            {%endif%}
                            <div style="padding-top: 24px; text-align: left;" class="hidden-xs">
                                {% include 'forms' formType : 'contact_compact' ph_flag : true labelClass : 'sr-only' controlClass : 'col-sm-12' %}
                            </div>
                            <div><a class="footer-privacy-policy" href="{{pages.privacy-policy.url}}">{{'general.privacy-policy' |t}}</a></div>
                            
                            
                        </div>
                    </div>                
                </div>               
            </div>
        </div>
    </div>
</div>
