{% if settings.layout-utility-bar  %}{% include 'nav_account_cart' fullBar : true %}{% endif%}
<div id="header-top-parent">
	<div id="header-wrapper" class="option2  script-fixed-header-with-scroll">
		<div class="container">
			<div class="column-wrapper">			
				<div class="row" style="position: relative;">
					<!-- header -->
					<div class="header-logo col-md-4">
						<a href="{{settings.main-website}}">
							<span class="sr-only">{{ shop.name }}</span>
							<img src="{{'branding-header-logo-image-file.png' | asset_url}}" alt="{{shop.name}} Logo" class="{{settings.branding-header-logo-icon-class}} " style="" />		        
						</a>
					</div>
					<!-- navigation -->
					<div id="navigation-wrapper" class="col-md-8 align-right-md">
						{% if settings.layout-utility-bar  == false %}<div class="header-utility-wrapper">{% include 'nav_account_cart'%} </div>{%endif%}
						<div class="header-nav-wrapper">{% include 'navbar'  %}</div>				
						<div class="clearfix" style="clear:both"></div>				
					</div>              
				</div>			
			</div>			
		</div>
	<div class="account-on-nav">{% include 'nav_account_cart'%}</div>
	</div>	
</div>


{% if template contains 'index' and settings.homepage-youtube-video-enable %}
	<div style="background: url({{'homepage-youtube-background.jpg' | asset_url}});	height: {{settings.homepage-youtube-video-height }}">
		<div id="homepage-youtube"
			 style="height: {{settings.homepage-youtube-video-height}}"
			 data-property="{videoURL:'{{settings.homepage-youtube-video-url}}',containment:'{{settings.homepage-youtube-video-containment}}',{{settings.homepage-youtube-video-property}}}">
			
		</div>		
	</div>
{% else %}
	<div id="slideshow" >{% include 'slideshow' %}</div>
{% endif %}

