{% if settings.layout-utility-bar %}
<div id="utility-account-bar">
	<div class="container">
		<div class="column-wrapper">		
			<div class="row">
				<div class="col-md-6">                  
					<span class="hidden-xs hidden-sm">
						{% if settings.layout-utility-snippet != blank%}{% include settings.layout-utility-snippet %}{% endif %}
					</span>					
				</div>
				<nav id="utilityNavWrapper" class="col-md-6">
					<ul id="utilityNav" class="" style="margin-bottom: 0">
						{% if shop.customer_accounts_enabled %}
						<li{% if customer %} class="active"{% endif %}>
						  
						  {{ '<div class="pull-left icon-your-account peetz-sprite display-none-480"><i class="fa fa-cogs"></i></div>' | customer_login_link }}
							<div class="pull-right" >							
							  <div id="cart-bar-your-account" class="heading">{{'accounts.your-account' | t}}</div>
							  <div id="cart-bar-login" class="">
							  {% if customer %}
								  <strong>{{ 'accounts.logout' | t | customer_logout_link }}</strong> {{ 'general.or' | t}}
								  <span ><a href="/account" title="Account">{{'accounts.account' | t}}</a></span>
						  
							  {% else %}
								<strong>{{ 'accounts.login' | t | customer_login_link }}</strong> {{ 'general.or' | t}}
								<strong>{{ 'accounts.join' | t | customer_register_link}}</strong>
							  {% endif %}
							  </div>
							</div>
							<div class="clearfix" style="clear: both;"></div>
						</li>
					
						{% endif %}
						<li id="cartLinkWrapper">
							<a href="/cart" id="cartLink">
								{% if shop.customer_accounts_enabled %}<div class="pull-left " id="cartLinkBorder"></div>{% endif %}
								<div id="" class="icon-your-cart pull-left display-none-480"><i class="fa fa-shopping-cart"></i></div>
								<div class="pull-right" >
									<div class="your-cart-text heading" >{{'accounts.your-cart' | t}}</div>
									<div id="yourCart" class="">{{ cart.item_count }} {% if cart.item_count == 1 %}{{'general.item' | t | capitalize  }}{% else %}{{'general.item' | t | capitalize | append: 's' }}{% endif %}  </div>
								</div>
								<div class="clearfix" style="clear: both;" ></div>
							  </a>
						</li>
						<li class="clearfix" style="clear:both"></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>	
{% else %}
<ul id="utilityNav" class="" style="margin-bottom: 0">   
	{% if shop.customer_accounts_enabled %}
	<li{% if customer %} class="active"{% endif %}>
	  
	  {{ '<div class="pull-left icon-your-account shopify-sprite display-none-480"><i class="fa fa-cogs"></i></div>' | customer_login_link }}
		<div class="pull-right" >							
			<div id="cart-bar-your-account" class="heading">{{'accounts.your-account' | t}}</div>
			<div id="cart-bar-login" class="">
			{% if customer %}
				<strong>{{ 'accounts.logout' | t | customer_logout_link }}</strong> {{ 'general.or' | t}}
				<span ><a href="/account" title="Account">{{'accounts.account' | t}}</a></span>
		
			{% else %}
				<strong>{{ 'accounts.login' | t | customer_login_link }}</strong> {{ 'general.or' | t}}
				<strong>{{ 'accounts.join' | t | customer_register_link}}</strong>
			{% endif %}
			</div>
		</div>
		<div class="clearfix" style="clear: both;"></div>
	</li>

	{% endif %}
	<li id="cartLinkWrapper">
		<a href="/cart" id="cartLink">
			{% if shop.customer_accounts_enabled %}<div class="pull-left " id="cartLinkBorder"></div>{% endif %}
			<div class="icon-your-cart shopify-sprite pull-left display-none-480"><i class="fa fa-shopping-cart"></i></div>
			<div class="pull-right" >
				<div class="your-cart-text heading" > {{'accounts.your-cart' | t}}</div>
				<div id="yourCart" class="">{{ cart.item_count }} {% if cart.item_count == 1 %}{{'general.item' | t | capitalize  }}{% else %}{{'general.item' | t | capitalize | append: 's' }}{% endif %}  </div>
			</div>
			<div class="clearfix" style="clear: both;" ></div>
		  </a>
	</li>
	<li class="clearfix" style="clear:both"></li>
</ul><!-- utilityMenu -->
<div class="clearfix" style="clear: both"></div>	
{% endif %}



