         
	<div class="section-nav">
		{{header_top}}
	</div>
	<ul class="nav-utility section-account">
		{% comment %} if customer accounts enabled then show account information {% endcomment %}
		{% if shop.customer_accounts_enabled  and false %}
		<li{% if customer %} class="active"{% endif %}>						  
			{{ '<div class="pull-left"><i class="fa fa-cogs"></i></div>' | customer_login_link }}							
			
			<div class="pull-right cart-account-text" >							
				<div class="heading">{{'accounts.your-account' | t}}</div>
				<div class="">
					{% if customer %}
					<strong>{{ 'accounts.logout' | t | customer_logout_link }}</strong> {{ 'general.or' | t}}
					<span ><a href="/account" title="Account">{{'accounts.account' | t}}</a></span>								
					{% else %}
					<strong>{{ 'accounts.login' | t | customer_login_link }}</strong> {{ 'general.or' | t}}
					<strong>{{ 'accounts.join' | t | customer_register_link}}</strong>
					{% endif %}
				</div>
			</div>
			<div class="clearfix" style="clear: both;"></div>
		</li>					
		{% endif %}
	
		<li class="cart-count {% if cart.item_count > 0 %}have-items-in-cart {% endif %}" >
			<a href="/cart" class="icons cart-account-icon">
				<i class="fa fa-shopping-cart {% if cart.item_count > 0 %}flash{% endif %}" "></i>
			</a>
			<a href="/cart"><span class="cart-account-text" >{{ 'accounts.your-cart' |t }}
					<span  id="cart-bar-your-count" >{{ cart.item_count }}
					{% if cart.item_count == 1 %}{{'general.item' | t | capitalize  }}{% else %}{{'general.item' | t | capitalize | append: 's' }}{% endif %}
					</span>					
				</span>				
			</a>
		</li>
		<li class="social-icons" >{% include 'social-icons'  %}</li>
		<li class="clearfix" style="clear:both"></li>
	</ul>




