{% capture iconouter  %}{% if iconouter %}{{iconouter}}{% else %}{% endif %}{% endcapture %}
{% assign classes = 'icons' %}


<nav class="{{class}} social-icons">
	{% unless settings.social-links-tripadvisor == '' %}
	<a href="{{ settings.social-links-tripadvisor }}" title="{{ shop.name }} on Tripadvisor" class="{{classes}}"  target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa fa-tripadvisor fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}
		<i class="fa fa-tripadvisor"></i>
		{% endif %}
	</a>
	{% endunless %}
	
	{% unless settings.social-links-facebook == '' %}
	<a href="{{ settings.social-links-facebook }}" title="{{ shop.name }} on Facebook" class="{{classes}}"  target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{social_facebook | default: "fa-facebook"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}
		<i class="fa {{social_facebook | default: "fa-facebook"}}"></i>
		{% endif %}
	</a>
	{% endunless %}
	
	{% unless settings.social-links-twitter == '' %}
	<a href="{{ settings.social-links-twitter }}" title="{{ shop.name }} on Twitter"  class="{{classes}}" target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_twitter | default: "fa-twitter"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_twitter | default: "fa-twitter"}}"></i>
		{% endif %}
	</a>
	{% endunless %}
	
	{% unless settings.social-links-google-plus == '' %}
	<a href="{{ settings.social-links-google-plus }}" title="{{ shop.name }} on Google Plus" class="{{classes}}"  target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_google | default: "fa-google-plus"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_google | default: "fa-google-plus"}} "></i>
		{% endif %}
	</a>
	{% endunless %}
	
	{% unless settings.social-links-youtube == '' %}
	<a href="{{ settings.social-links-youtube }}" title="{{ shop.name }} on Youtube" class="{{classes}}"  target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_youtube | default: "fa-youtube-square"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_youtube | default: "fa-youtube-square"}}"></i>
		{% endif %}
	</a>
	{% endunless %}
	{% unless settings.social-links-flickr == '' %}
	<a href="{{ settings.social-links-flickr }}" title="{{ shop.name }} on Flickr" class="{{classes}}"  target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_flickr | default: "fa-flickr"}} fa-flickr fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_flickr | default: "fa-flickr"}}"></i>
		{% endif %}
	</a>
	{% endunless %}

	{% unless settings.social-links-pinterest == '' %}
	<a href="{{ settings.social-links-pinterest }}" title="{{ shop.name }} on Pinterest"  class="{{classes}}" target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_pinterest | default: "fa-pinterest"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_pinterest | default: "fa-pinterest"}}"></i>
		{% endif %}
	</a>
	{% endunless %}
	
	{% unless settings.social-links-instagram == '' %}
	<a href="{{ settings.social-links-instagram }}" title="{{ shop.name }} on Instagram" class="{{classes}}"  target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_instagram | default: "fa-instagram"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_instagram | default: "fa-instagram"}}"></i>
		{% endif %}
	</a>
	{% endunless %}
	{% unless settings.social-links-linkedin == '' %}
	<a href="{{ settings.social-links-linkedin }}" title="{{ shop.name }} on LinkedIn"  class="{{classes}}"  target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_linkedin | default: "fa-linkedin"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_linkedin | default: "fa-linkedin"}}"></i>
		{% endif %}
	</a>
	{% endunless %}
	{% unless settings.social-links-rss == '' %}
	<a href="{{ settings.social-links-rss }}" title="{{ shop.name }} rss"  class="{{classes}}" target="_blank">
		{% if iconouter != blank %}
			<span class="fa-stack fa-lg ">
				<i class="fa {{iconouter}} fa-stack-2x icon-outer"></i>
				<i class="fa {{ social_rss | default: "fa-rss"}} fa-stack-1x icon-inner"></i>
			</span>		
		{% else %}		
		<i class="fa {{ social_rss | default: "fa-rss"}}"></i>
		{% endif %}
	</a>
	{% endunless %}
</nav><!-- socialLinks -->
