<nav id="socialLinks" class="{{class}}">
	{% unless settings.social-links-facebook == '' %}<a href="{{ settings.social-links-facebook }}" title="{{ shop.name }} on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>{% endunless %}
	{% unless settings.social-links-twitter == '' %}<a href="{{ settings.social-links-twitter }}" title="{{ shop.name }} on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>{% endunless %}
	{% unless settings.social-links-google-plus == '' %}<a href="{{ settings.social-links-google-plus }}" title="{{ shop.name }} on Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>{% endunless %}
	{% unless settings.social-links-youtube == '' %}<a href="{{ settings.social-links-youtube }}" title="{{ shop.name }} on Youtube" target="_blank"><i class="fa fa-youtube-square"></i></a>{% endunless %}

	{% unless settings.social-links-pinterest == '' %}<a href="{{ settings.social-links-pinterest }}" title="{{ shop.name }} on Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>{% endunless %}
	{% unless settings.social-links-instagram == '' %}<a href="{{ settings.social-links-instagram }}" title="{{ shop.name }} on Instagram" target="_blank"><i class="fa fa-instagram"></i></a>{% endunless %}
	{% unless settings.social-links-linkedin == '' %}<a href="{{ settings.social-links-linkedin }}" title="{{ shop.name }} on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>{% endunless %}
	{% unless settings.social-links-rss == '' %}<a href="{{ settings.social-links-rss }}" title="{{ shop.name }} rss" target="_blank"><i class="fa fa-rss"></i></a>{% endunless %}
</nav><!-- socialLinks -->


